{% extends 'base.html.twig' %}

{% block catalog %}
    {#<head>#}

        {#<meta charset="utf-8">#}
        {#<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
        {#<meta name="description" content="">#}
        {#<meta name="author" content="">#}

        {#<title>3 Col Portfolio - Start Bootstrap Template</title>#}

        {#<!-- Bootstrap core CSS -->#}
        {#<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
        {#<script src="/js/bootstrap.min.js"></script>#}
        {#<!-- Custom styles for this template -->#}
        {#<link href="css/3-col-portfolio.css" rel="stylesheet">#}

        {#<style>#}
            {#.size {#}
                {#width:300px;#}
                {#height: 185px;#}
                {#overflow: hidden; /* Обрезаем содержимое */#}
                {#padding: 5px; /* Поля */#}
                {#text-overflow: ellipsis; /* Многоточие */#}
            {#}#}

        {#</style>#}
    {#</head>#}

    <head>

        <title>Tutorials</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js"></script>
        <style>
        .size {
        width:300px;
        height: 185px;
        overflow: hidden; /* Обрезаем содержимое */
        padding: 5px; /* Поля */
        text-overflow: ellipsis; /* Многоточие */
        }

        </style>
    </head>


    {#{% for item in full %}#}

    {#{% if item %}#}

        {#<div class="col-sm-3" style="background-color:white;">#}


            {#<h3>{{ item.snippet.title}}</h3>#}
            {#<li>{{ item.player.embedHtml|raw }}</li>#}
            {#<li>{{ item.snippet.localized.description }}</li>#}
            {#<li>{{ item.snippet.title}}</li>#}



        {#</div>#}
        {#<div class="col-sm-3" style="background-color:white;">#}

            {#<h3>{{ item.snippet.title}}</h3>#}
            {#<li>{{ item.player.embedHtml|raw }}</li>#}
            {#<li>{{ item.snippet.localized.description }}</li>#}
            {#<h3>{{ item.snippet.thumbnails.default.url}}</h3>#}

        {#</div>#}


    {#{% endif %}#}
    {#{% endfor %}#}




{#<head>    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
    {#<link href="css/3-col-portfolio.css" rel="stylesheet"></head>#}

<body>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Tutoria's
        <small>Education video's</small>
    </h1>

{% for item in full %}


{% if item %}







    <div class="col-sm-3" style="background-color:white;">
    <div class="card" style="width: 18rem;">
        <a href=/playNow/{{ item.id }}><img class="card-img-top" src={{ item.snippet.thumbnails.high.url}} height="150" width="250" alt=""></a>
        <div class="card-body">
            <h5 class="size"> <a href=/playNow/{{ item.id }}>{{ item.snippet.title}}</a></h5>
            {#<a href="#" class="btn btn-primary">Go somewhere</a>#}
        </div>
    </div>
    </div>

    {##}


        {#<div class="col-sm-3" style="background-color:white;">#}
            {#<div class="card h-100">#}
                {#<a href=/playNow/{{ item.id }}><img class="card-img-top" src={{ item.snippet.thumbnails.default.url}} alt=""></a>#}
                {#<li>{{ item.player.embedHtml|raw }}</li>#}
                {#<div class="card-body">#}
                    {#<h4 class="card-title">#}
                        {#<a href=/playNow/{{ item.id }}>{{ item.snippet.title}}</a>#}
                    {#</h4>#}
                    {#<p class="size">{{ item.snippet.localized.description }}</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}


    {#<div class="row">#}
        {#<div class="col-lg-4 col-sm-6 portfolio-item">#}
            {#<div class="card h-100">#}
                {#<a href="#"><img class="card-img-top" src={{ item.snippet.thumbnails.default.url}} alt=""></a>#}
                {#<div class="card-body">#}
                    {#<h4 class="card-title">#}
                        {#<a href="#">Project One</a>#}
                    {#</h4>#}
                    {#<p class="size">{{ item.snippet.localized.description }}</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

    {#</div>#}


    {% endif %}
    {% endfor %}

    {#<!-- Pagination -->#}
    {#<ul class="pagination justify-content-center">#}
        {#<li class="page-item">#}
            {#<a class="page-link" href="#" aria-label="Previous">#}
                {#<span aria-hidden="true">&laquo;</span>#}
                {#<span class="sr-only">Previous</span>#}
            {#</a>#}
        {#</li>#}
        {#<li class="page-item">#}
            {#<a class="page-link" href="#">1</a>#}
        {#</li>#}
        {#<li class="page-item">#}
            {#<a class="page-link" href="#">2</a>#}
        {#</li>#}
        {#<li class="page-item">#}
            {#<a class="page-link" href="#">3</a>#}
        {#</li>#}
        {#<li class="page-item">#}
            {#<a class="page-link" href="#" aria-label="Next">#}
                {#<span aria-hidden="true">&raquo;</span>#}
                {#<span class="sr-only">Next</span>#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}

{#</div>#}

</body>




{% endblock %}