{% extends 'base.html.twig' %}
{% block search %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <html lang="en">
<head>
    <title>Tutorials</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .container {
            position: relative;
            text-align: center;
            color: white;
        }

        .bottom-left {
            position: absolute;
            bottom: 8px;
            left: 16px;
        }

        .top-left {
            position: absolute;
            top: 8px;
            left: 16px;
        }

        .top-right {
            position: absolute;
            top: 8px;
            right: 16px;
        }

        .bottom-right {
            position: absolute;
            bottom: 8px;
            right: 16px;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>


<p><img src="FONT_PIC.jpg" width="100%"
        height="100%" alt="__"></p>

<div class="centered">    <div class="form-group">


        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-dark">Search</button>
            </div>
        </div>
        {#<button type="submit" class="btn btn-default">Submit</button>#}
        {{ form_end(form) }}
    </div>
</div>

    {#<div class="form-group">#}


        {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#<div class="form-group">#}
            {#<div class="col-sm-offset-2 col-sm-10">#}
                {#<button type="submit" class="btn btn-dark">Search</button>#}
            {#</div>#}
        {#</div>#}
        {#<button type="submit" class="btn btn-default">Submit</button>#}
        {#{{ form_end(form) }}#}
    {#</div>#}






</body>
{% endblock %}